.ItemDetailContainer{
    display: flex;
    justify-content: center;
}

.detailCard{
    display: flex;
    margin: 10px;
    background-color: #8f975d;
    padding: 5px;
    width: 40rem;
    justify-content: space-evenly;
    border-style: hidden;
    box-shadow: 5px 5px 20px rgb(0 0 0);
    box-shadow: 0 0 10 20;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 15px;
}

.detailCard .imgDetail{

    width: 200px;
    border-radius: 15px;
}
.divImg{
    height: 15rem;
    display: flex;
}

.divDescripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 16rem;
}