.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carritoCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    font-weight: 600;
    padding: 14px;
    background: #8f975d;
    border-radius: 14px;
    width: 60%;
    box-shadow: 0px 1px 10px rgb(0 0 0);
}

.img-producto{
    width: 142px;
    height: 142px;
    border-radius: 15px;
}
.btnEliminar:hover {
   transition: all 2s;
   background-color: red;
}

h3{
    text-decoration: none;
    margin: 15px;
    color: rgb(234, 127, 127);
}

form{
    display: flex;
    flex-direction: column;
    width: 31rem;
    align-items: initial;
    padding: 10px;
    border-radius: 10px;
    background-color: #8f975d;
    box-shadow: 0px 1px 10px rgb(0 0 0);
}

form input {
    margin: 5px;
    border-radius: 5px;
}

form button {
    border-radius: 5px;
    margin: 5px;
    align-self: flex-end;
    font-weight: 600;
}
.errorCarrito{
    color: red;
}
.errorForm{
    color: red;
}