.menuCSS3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  background-color: #8f975d;
}

.menuCSS3 h1{
  margin-right: 19rem;
}

.rutas {
  display: flex;
  flex-direction: row;
}

.rutas ul {
  display: flex;
  align-items: center;
}

.rutas ul li {
  margin: 10px;
  font-weight: 500;
}

.menuCSS3 ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 10px;
}
.menuCSS3 div a {
  /* display: block; */
  display: flex;
  padding: 1px;
  font-size: larger;
  transition: all 600ms ease;
  text-decoration: none;
  color: #191c26;
}
.menuCSS3 div a:hover {
  background-color: #fafab6;
  border-radius: 30px;
}
.menuCSS3 div ul li > ul {
  display: none;
  position: absolute;
  transition: all 600ms ease;
}
.menuCSS3 div ul li a:hover + ul,
.menuCSS3 ul li ul:hover {
  display: block;
  background-color: #fafab6;
}

.logo-carrito{
  margin: 5px;
}

@media (max-width: 425px){
.menuCSS3{
    flex-direction: column;
    background-color: #8f975d;
    align-items: center;
}

  .menuCSS3 h1 { margin-right: 30px;}

  .menuCSS3 div a {
    padding: 7px;
    margin-bottom: 1rem;
  }

  .rutas ul li{
    font-size: smaller;
    margin: 1px;
  }  
}

@media (min-width: 768px){
  .menuCSS3{
    flex-direction: column;
    align-items: center;
}

  .menuCSS3 h1 { margin-right: 30px;}

  .menuCSS3 div a {
    padding: 7px;
    margin-bottom: 1rem;
  }

  .rutas ul li{
    font-size: large;
    margin: 1px;
  }  
    
}

@media (min-width: 1024px){
  
}